.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist/js/app.07937fd3.js
dist/js/app.07937fd3.js.map
dist/js/chunk-vendors.605c0257.js
dist/js/chunk-vendors.605c0257.js.map
